<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello, <%= current_user.given_name %>!</h1>

        <% unless @upcoming_checkins.nil? %>
            <% n = @upcoming_checkins.first %>
            <p>
                Looks like your next checkin is the <%= n.label %> <%= n.checkin_session_type.label %> checkin.
            </p>
            <p>
                Students must check in by <strong><%= n.check_in_by.to_s(:time) %></strong> or
                they are considered late.
            </p>
            <p>
                <%= link_to( raw("Go to #{n.checkin_session_type.label} Checkin &raquo;" ),
                             rapid_checkin_url(n), class: "btn btn-primary btn-lg", role: "button" ) %>
            </p>
        <% end %>
    </div>
</div>


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <%= render( partial: "counselor_floor",
                   locals: {
                            checkin: @upcoming_checkins.
                            find_by( checkin_session_type:
                                    CheckinSessionType.find_by_key('floor'))
                            } ) %>

        <%= render( partial: "counselor_event",
                   locals: {
                            checkin: @upcoming_checkins.
                            find_by( checkin_session_type:
                                    CheckinSessionType.find_by_key('event'))
                            } ) %>

        <%= render( partial: "counselor_new_event" ) %>
    </div>
</div>

