<div class="col-md-4">
    <% if checkin.nil? %>
        <h2>Event Checkin</h2>
        <p>
            You have no upcoming event checkins.
        </p>
        <p><%= link_to raw("See All Event Checkins &raquo;"), checkins_url(type: "event"), class: "btn btn-default", role: "button" %></p>
    <% else %>
        <h2><%= checkin.checkin_session_type.label %> <%= checkin.key %> Checkin</h2>
        <p>
            Your next <%= checkin.checkin_session_type.label %> checkin is for <%= checkin.label %>.
            Students must check in by <strong><%= checkin.check_in_by.to_s(:time) %></strong> or
            they are considered late.
        </p>
        <p>
            <%= link_to( raw("Go to Event Checkin &raquo;"),
                         rapid_checkin_url(checkin), class: "btn btn-primary", role: "button" ) %>
        </p>
    <% end %>
</div>
