<tr class="<%= checkin_table_row_classes( checkin ) %>">
    <td>
        <% if checkin.late? %>
            <span class="label label-warning">Late</span>
        <% end %>

        <% if checkin.excused? %>
            <span class="label label-primary">Excused</span>
        <% end %>
    </td>
    <td><%= checkin.checked_in_at.nil? ?
        ( checkin.excused? ? "N/A" : raw("&mdash;") ) :
        checkin.checked_in_at.strftime("%H:%M") %>
    </td>
    <td><%= checkin.user.name %></td>
    <td><%= checkin.user.andrewid %></td>
    <td><%= checkin.user.dorm %></td>
    <td><%= checkin.user.room %></td>
    <td><%= checkin.user.cell_number %></td>
    <td><%= checkin.user.program.label unless checkin.user.program.nil? %></td>
    <td><%= checkin.attendant.nil? ? raw("&mdash;") : checkin.attendant.name %></td>
</tr>
