<div id="rapid-checkin-form" class="well well-lg">
    <%= form_for(:rapid_checkin, { url: rapid_checkin_path,
                                   html: { method: "post", class: "text-center" }
                                  } ) do |f| %>
    <%= hidden_field_tag :filter, params[:filter] %>
    <%= f.hidden_field :checkin_session_id, value: params[:id] %>
    <div class="form-group">
        <%= f.label(:user_search, "Checkin User:", class: "sr-only") %>
        <div class="<%= feedback_classes( checkin: rapid_checkin, context: "input_group") %>">
            <%= f.text_field( :user_search, 
                             { placeholder: "Card Swipe or Andrew ID", 
                               class: "form-control", 
                               autofocus: true, 
                               "aria-describedby" => "checkin-user-error-status"
                              } ) %>
            <div class="form-feedback-container">
                <span class="<%= feedback_classes( checkin: rapid_checkin,
                                                  context: "glyphicon") %>"
                      aria-hidden="true"></span>
                
                <span id="checkin-user-error-status" class="sr-only">
                    (<%= rapid_checkin.checkin_status.to_s %>)
                </span>
                
            </div>
            
            <span class="input-group-btn">
                <%= submit_tag("Checkin!", class: "btn btn-default") %>
            </span>
            
        </div>
        
        <% unless rapid_checkin.checkin_status.nil? %>
            <p class="<%= feedback_classes( checkin: rapid_checkin, context: "result_explanation" ) %>">
                <%= flash[:rapid_checkin] %>
            </p>
        <% end %>
        

    </div><!-- /.form-group -->
    <% end %>

    <div class="progress">
        <div class="progress-bar progress-bar-success"
             style="width: <%= on_time_percent( rapid_checkin.checkin_session ) %>%">
            <span class="sr-only"><%= on_time_percent( rapid_checkin.checkin_session ) %>% Signed In</span>
        </div>
        <div class="progress-bar progress-bar-warning"
             style="width: <%= late_percent( rapid_checkin.checkin_session ) %>%">
            <span class="sr-only"><%= late_percent( rapid_checkin.checkin_session ) %>% Late</span>
        </div>
        <div class="progress-bar progress-bar-danger"
             style="width: <%= missing_percent( rapid_checkin.checkin_session ) %>%">
            <span class="sr-only"><%= missing_percent( rapid_checkin.checkin_session ) %>% Missing</span>
        </div>
        <div class="progress-bar progress-bar-primary"
             style="width: <%= excused_percent( rapid_checkin.checkin_session ) %>%">
            <span class="sr-only"><%= excused_percent( rapid_checkin.checkin_session ) %>% Excused</span>
        </div>
    </div>
</div>
